
.container {
    display: grid;
    grid-template-areas:
"hoofdstuk1 hoofdstuk2 hoofdstuk3 hoofdstuk4 hoofdstuk5 hoofdstuk6 hoofdstuk7";
    width: 1200px;
    margin: auto;
    background-color: white;
    height: 100vh;
}
a {
    color: black;
}

.hoofdstuk1 {
    grid-area: hoofdstuk1;
    margin-top: 10px;
    margin-left: 5px;
}

.hoofdstuk2 {
    grid-area: hoofdstuk2;
    margin-top: 10px;
}

.hoofdstuk3 {
    grid-area: hoofdstuk3;
    margin-top: 10px;
}
.hoofdstuk4 {
    grid-area: hoofdstuk4;
    margin-top: 10px;
}
.hoofdstuk5 {
    grid-area: hoofdstuk5;
    margin-top: 10px;
}
.hoofdstuk6 {
    grid-area: hoofdstuk6;
    margin-top: 10px;
}
.hoofdstuk7 {
    grid-area: hoofdstuk7;
    margin-top: 10px;
}

h1 {
    text-align: center;

}




